<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Home page starts from here -->
    
<div>


<div>

<h1>Hello there </h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, expedita nobis quis modi sit nulla. Magni voluptatum sint cumque ex amet adipisci officiis veniam! Suscipit corporis veritatis perspiciatis quia ad.</p>


</div>

</div>

</body>
</html>